parameters:

  paths:
    - src/MyClass.php

  level: 8

  ignoreErrors:

services:
  - class: Philippe\Phpstan\ThrowIfMethodTypeSpecifyingExtension
    tags:
      - phpstan.typeSpecifier.methodTypeSpecifyingExtension
